*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* .content > a::before {
  content: '';
  border-top: 2px solid lightgray;
  display: block;
  padding: 15px 0;
} */

._container {
  max-width: 40%;
  margin: 1% auto 0;
  padding: 0 1%;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.title {
  font-size: 36px;
}

a {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid lightgray;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 18px;
  color: blue;
}

.image {
  margin: 0 auto;
  padding: 10px 0;
}

#anchor-1,
#anchor-2,
#anchor-3,
#anchor-4,
#anchor-5 {
  display: none;
}

#anchor-1:target,
#anchor-2:target,
#anchor-3:target,
#anchor-4:target,
#anchor-5:target {
  display: block;
}

#copy-past-id:hover > .image,
#keep-calm-id:hover > .image,
#balance-id:hover > .image,
#where-js-id:hover > .image,
#relax-id:hover > .image {
  display: block;
}

.icon {
  display: none;
}

.content {
  cursor: pointer;
}

.content:hover * .icon {
  display: block;
}

.content:hover * .text {
  color: black;
}

.copy-past:hover * .icon,
.keep-calm:hover * .icon,
.balance:hover * .icon,
.where-js:hover * .icon,
.relax:hover * .icon {
  transform: rotate(45deg);
}

.image:target {
  display: block;
}

/* a:visited > div {
  color: black;
} */
