*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 50%;
  margin: 1% auto 0;
  padding: 0 1%;
  box-sizing: content-box;
}

.title {
  font-size: 2.5em;
  margin-bottom: 2%;
}

a {
  padding: 2% 0;
  display: block;
  border-top: 0.15em solid lightgray;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.text {
  font-size: 1.5em;
  color: blue;
}

.image {
  margin: 0 auto;
  padding: 2% 0;
  max-width: 60%;
  display: block;
}

.copy-past * .image,
.keep-calm * .image,
.balance * .image,
.where-js * .image,
.relax * .image {
  display: none;
}

#anchor-1:hover .image,
#anchor-2:hover .image,
#anchor-3:hover .image,
#anchor-4:hover .image,
#anchor-5:hover .image {
  display: block;
}

#anchor-1:target .text,
#anchor-2:target .text,
#anchor-3:target .text,
#anchor-4:target .text,
#anchor-5:target .text {
  color: black;
}

#anchor-1:target .image,
#anchor-2:target .image,
#anchor-3:target .image,
#anchor-4:target .image,
#anchor-5:target .image {
  display: block;
}

/* #copy-past-id:hover > .image,
#keep-calm-id:hover > .image,
#balance-id:hover > .image,
#where-js-id:hover > .image,
#relax-id:hover > .image {
  display: block;
} */

.icon {
  display: none;
}

.content {
  cursor: pointer;
}

.content:hover * .icon {
  display: block;
}

.content:hover * .text {
  color: black;
}

.copy-past:hover * .icon,
.keep-calm:hover * .icon,
.balance:hover * .icon,
.where-js:hover * .icon,
.relax:hover * .icon {
  transform: rotate(45deg);
  transition: 0.6s all;
}

.image:target {
  display: block;
}

a:target * .subtitle {
  color: black;
  background-color: red;
}

@media (max-width: 900px) {
  ._container {
    max-width: 65%;
  }
}

@media (max-width: 820px) {
  .title {
    font-size: 2em;
  }
  .text {
    font-size: 1.25em;
  }
}

@media (max-width: 580px) {
  body {
    font-weight: 600;
  }
  ._container {
    max-width: 75%;
  }
}

@media (max-width: 440px) {
  ._container {
    max-width: 85%;
  }
}

@media (max-width: 390px) {
  a {
    padding: 4% 0;
  }
  .title {
    font-size: 2em;
    margin-bottom: 4%;
  }
  .text {
    font-size: 1em;
  }
  .image {
    max-width: 80%;
    padding: 4% 0;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.75em;
  }
  .text {
    font-size: 1em;
  }
}
